/* ======================================= [ Color's ] =======================================*/
$primaryColor: #546FFF;
$primaryColorless: #54577A;
$primaryLight: #8E92BC;

$textColor: #141522;
$borderColor: #e1e1e4;
$darkColor: #141522;
$lightGray: #F5F5F7;

$background: #FAFAFA;
$white: #fff;


$error: #B71112;
$success: #659711;
$warning: #B7821D;
$info: #2A60B7;

/* ======================================= [ Other's ] ======================================= */
$borderRadius: 10px;
$transition: all .3s;