@use "../../../modules/_index" as *;
.item > .nav__item {
    @include flex(flex-start, center, row, 10px);
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: $primaryLight;
    border-radius: 10px;
    transition: $transition;
    border: 1px solid transparent;

    &:hover {
        color: $darkColor;
        border-color: $lightGray;
    }
}

:global {
    .active {
        color: $darkColor;
        background-color: $lightGray;
    }
}
